body
{
  color: white;
  background: radial-gradient(yellow,orange,red,blue,purple,violet,brown,white,cyan,turquoise,navy,grey,gold,silver,pink,maroon,darkslategrey,darkblue,darkred,darkgrey,skyblue);
}
span
{
  font-size: 30px;
}
#camera , #result
{
  border: 2px dashed black;
  width: 350px;
  height: 300px; 
}
#result_emotion_name ,#result_emotion_name2  
{
  color: black;
}
.emotion_name
{
  font-size: 40px;
}
.emoji
{
  font-size: 48px;
}

.heading
{
  font-size: 18px; 
  border-radius: 10px;
  letter-spacing: 10px;
}

label{
  background-color: black;
  color: aquamarine;
}
